<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Sourabh WebDev</title>
</head>

<body>
    <header class="first-head">
        <section class="head_div containerp container" id="navBar">
            <div class="bar_items">
                <h3 class="heading">Portfoli<span>o</span> </h3>
            </div>
            <div class="flex_display">
                <ul>
                  <a class="active" href="./index">Home</a>  
                </ul>
                <ul>
                  <a href="./contact">Contact</a>  
                </ul>
                <ul>
              <a href="#">About</a>      
                </ul>
            </div>

        </section>
    </header>

    <section class="containerp one">
        <div class="flex_box ">
            <div class="wid-50">
                <h1 class="about-text">
                    <p> About <span>Me</span></p>
                </h1>
                <div class="mt-20 ">
                    <p class="bold mt-10">
                        I'am Sourabh Kumar, Front-End Developer
                    </p>
                    <p class="bold mt-10">
                        from Delhi, India
                    </p>

                    <p class="diff-font">
                        Focused professional having excellent technical and good communication skills, along with huge knowledge in the
                        Developer industry. Proficient in the design and formulation of test automation frameworks, writing code in a variety of
                        languages, and implementing features. Specialize in thinking outside the box to find unique solutions to difficult
                        engineering problems.
                    </p>
                </div>

            </div>
            <div class="animated_img wid-50 ">
                <img src="images/Screenshot 2022-09-13 131056.png" alt="">
            </div>


        </div>

        <div class=" wid-50 flex_box">
            <div class="Experience">

                <h2 class="mt-20">
                    Experience
                </h2>
                <p>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nisi est nam aspernatur quae rerum at quo.
                </p>

                <h3>
                    Freelacer Web Developer
                </h3>

                <p>
                    April-2021 Present
                </p>

                <h3>
                    Web Developer Intern
                </h3>
                <p>
                <h4>
                    Digidotes-Delhi
                </h4>
                June-2022 September-2022
                </p>

            </div>



        </div>

    </section>

    <script src="./script/response.js"></script>
</body>

</html>